{% extends "home.html" %}

{% block content %}

<section>
    <form name="import" method="post" action="" enctype="multipart/form-data">
        <label>Importar Data XLS:</label>
        <input type="file" name="file">
        <input type="button" value="Importar" onclick="importar();" >
        <input type="button" value="Cargar" onclick="cargData();" >
        <input type="hidden" name="action" value="importar" >
    </form>
</section>

<span id="fileCarg" >{{ file }}</span>
<div id="dataExcel" >{{ excel|raw }}</div>

{% endblock %}